@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar: linear-gradient(to bottom, #e0f2f1, #d9e9f0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  .bg-sidebar {
    background: var(--sidebar);
  }
}

body {
  background: linear-gradient(to bottom, #001b38, #000d1e);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
